:root {
  --clr-white: #fff;
  --clr-black: #000;
  --clr-gray: #404040;
  --clr-nav: pink;
  --fw--xlight: 200;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-bold: 700;
  --fs-h2: 3.5rem;
  --fs-big: 2.5rem;
  --fs-normal: 1.2rem; }

/* Generic */
h2,
strong {
  font-weight: var(--fw-bold); }

h2 {
  font-size: 3.5rem;
  font-family: "Poppins", sans-serif; }

@media (min-width: 800px) {
  h2 {
    font-size: 4.5rem; } }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

img {
  max-width: 100%;
  display: block; }

.current {
  border-bottom: 2px solid var(--clr-white); }
  .current:hover, .current:focus {
    color: rgba(64, 64, 64, 0.7) !important; }

.flex {
  display: flex; }

/* nav */
.nav-link {
  text-transform: uppercase;
  color: rgba(64, 64, 64, 0.7);
  font-weight: var(--fw-light); }

@media (min-width: 800px) {
  .nav-link {
    font-family: "Poppins", sans-serif; } }

/* Auckland2018 - Auckland */
.section-text--auckland {
  font-family: "Text Me One", sans-serif;
  line-height: 1.6; }

* {
  box-sizing: border-box; }

body {
  margin: 0; }

:root {
  --clr-white: #fff;
  --clr-black: #000;
  --clr-gray: #404040;
  --clr-nav: pink;
  --fw--xlight: 200;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-bold: 700;
  --fs-h2: 3.5rem;
  --fs-big: 2.5rem;
  --fs-normal: 1.2rem;
  --small-gap: 12rem; }

/* Generic */
.grid-main {
  display: grid;
  grid-template-columns: minmax(1em, 1fr) repeat(2, minmax(0px, 600px)) minmax(1em, 1fr); }

/* header - logo */
.header--auckland2018 {
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  right: 0; }

.header-content--auckland2018 {
  grid-column: 2 / -2;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.logo-link {
  --size: 2.5rem;
  max-width: var(--size); }

@media (min-width: 800px) {
  .logo-link {
    --size: 4rem;
    max-width: var(--size); } }

/* header - navigation bar */
.nav {
  position: fixed;
  top: 0;
  bottom: 0;
  left: -100%;
  right: 0;
  width: 100%;
  background: var(--clr-nav);
  transform: translateX(0);
  transition: transform 0.5s ease-in-out;
  z-index: 100; }

.nav-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%; }

.nav-item {
  margin: 2em; }

.nav-link {
  font-size: 3rem; }
  .nav-link:hover, .nav-link:focus {
    color: var(--clr-white); }

@media (min-width: 800px) {
  .nav {
    all: unset;
    position: initial; }
  .nav-list {
    flex-direction: row; }
  .nav-link {
    font-size: 1rem; } }

.opened-nav {
  transform: translateX(100%); }

.btn-open-nav {
  border: 0;
  background: 0;
  font-size: 1.5rem;
  padding: 0.5em 1em;
  cursor: pointer;
  color: rgba(64, 64, 64, 0.7); }

.btn-close-nav {
  background: 0;
  border: 0;
  position: absolute;
  cursor: pointer;
  top: 1rem;
  left: 1rem; }
  .btn-close-nav i {
    font-size: 3rem;
    color: rgba(64, 64, 64, 0.7); }

@media (min-width: 800px) {
  .btn-open-nav,
  .btn-close-nav {
    display: none; } }

.section-title {
  color: var(--clr-white); }

.section-view-box {
  margin-bottom: var(--small-gap);
  grid-column: 1 / -1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6em 0 4em;
  background-size: cover;
  background-position: left; }

@media (min-width: 800px) {
  .section-view-box {
    background-attachment: fixed; } }

/* view-box */
.section-view-box--auckland {
  background-image: url(../Images/Auckland-section-bg.jpg);
  margin: 0; }

@media (min-width: 800px) {
  .section-view-box {
    padding: 3em 0 2em; }
  .section-view-box--auckland {
    padding: 12em 0 8em; } }

.subgrid--auckland {
  grid-column: 2 / -2;
  display: grid;
  grid-template-rows: 6em repeat(10, 100px) 6em;
  gap: 2em 0; }

@media (min-width: 800px) {
  .subgrid--auckland {
    grid-column: 2 / -2;
    grid-template-columns: minmax(0px, 1fr) minmax(0px, 1fr);
    grid-template-rows: 12em repeat(5, 100px) 12em;
    gap: 0 2em; } }

.content-auckland--1 {
  grid-row: 2 / span 4; }

.content-auckland--2 {
  grid-row: 7 / span 4; }

@media (min-width: 800px) {
  .content-auckland--1 {
    grid-row: 2 / span 4; }
  .content-auckland--2 {
    grid-column: 2;
    grid-row: 3 / span 4; } }

.img-wrapper-auckland--1 {
  background-image: url(../Images/2018AuckImg/Auckland/img--1.jpg);
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  position: relative; }

.img-wrapper-auckland--2 {
  background-image: url(../Images/2018AuckImg/Auckland/dinner.jpg);
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  position: relative; }

.text-wrapper--1 {
  background: var(--clr-white);
  padding: 0 3em;
  box-shadow: 0 4px 5px -5px black, inset 0 0 0 10px white, inset 0 0 0 15px;
  display: grid;
  place-items: center;
  position: absolute;
  left: 10%;
  right: 10%;
  bottom: 0;
  min-height: 30%;
  transform: translate(0, 50%); }

@media (max-width: 800px) and (min-width: 500px) {
  .text-wrapper--1 {
    left: 25%;
    right: 5%; } }

@media (min-width: 800px) {
  .text-wrapper--1 {
    left: 15%;
    right: 5%; } }

.text-wrapper--2 {
  background: var(--clr-white);
  padding: 0 3em;
  box-shadow: 0 4px 5px -5px black, inset 0 0 0 10px white, inset 0 0 0 15px;
  display: grid;
  place-items: center;
  position: absolute;
  left: 5%;
  right: 5%;
  bottom: 0;
  min-height: 30%;
  transform: translate(0, 50%); }

@media (max-width: 800px) and (min-width: 500px) {
  .text-wrapper--2 {
    left: 5%;
    right: 40%; } }

@media (min-width: 800px) {
  .text-wrapper--2 {
    background: var(--clr-white);
    padding: 0 3em;
    box-shadow: 0 -2px 5px -5px black, inset 0 0 0 10px white, inset 0 0 0 15px;
    left: 5%;
    right: 20%;
    top: 0;
    bottom: initial;
    transform: translate(0, -50%); } }

.section-text-auckland {
  font-family: "Text Me One", sans-serif; }

/* View box */
.section-view-box--taranga {
  background-image: url(../Images/Taranga-section-bg.JPG);
  background-position: top; }

@media (min-width: 800px) {
  .section-view-box--taranga {
    background-position: center; } }

.taranga-content-wrapper {
  grid-column: 2 / -2;
  flex-direction: column;
  line-height: 1.8;
  font-family: "The Girl Next Door", cursive;
  font-size: 1rem;
  margin-bottom: var(--small-gap); }
  .taranga-content-wrapper p {
    font-size: 0.8em;
    margin: 0; }
  .taranga-content-wrapper span {
    font-family: "Poor Story", cursive;
    font-size: 1em;
    display: block; }
  @media (min-width: 500px) {
    .taranga-content-wrapper {
      font-size: 1.3rem; } }
  @media (min-width: 680px) {
    .taranga-content-wrapper {
      font-size: 1.6rem; } }
  @media (min-width: 860px) {
    .taranga-content-wrapper {
      font-size: 2rem; } }
  @media (min-width: 1150px) {
    .taranga-content-wrapper {
      font-size: 2.3rem; } }

.taranga-content--1 p,
.taranga-content--3 p {
  margin-right: 1em; }

.taranga-content--2 p {
  margin-left: 1em; }

@media (min-width: 500px) {
  .taranga-content--1 p,
  .taranga-content--3 p {
    margin-right: 2em; }
  .taranga-content--2 p {
    margin-left: 2em; } }

.taranga-content {
  justify-content: space-between;
  align-items: center; }
  .taranga-content img {
    --size: 50vw;
    width: var(--size);
    height: var(--size);
    object-fit: cover; }
    @media (min-width: 860px) {
      .taranga-content img {
        --size: 482.5px;
        width: var(--size);
        height: var(--size); } }
  .taranga-content:not(:last-child) {
    margin-bottom: 2em; }

.taranga-content--2 img {
  order: -1; }
  @media (min-width: 690px) {
    .taranga-content--2 img {
      width: calc(var(--size) + 10vw);
      height: var(--size); } }

/* view box */
.section-view-box--rotorua {
  background-image: url(../Images/Rotoura-section-bg.JPG); }

.rotorua-subtitle {
  font-family: "Rock Salt", cursive;
  font-size: 2em; }
  @media (min-width: 800px) {
    .rotorua-subtitle {
      -webkit-transform: rotate(-20deg);
      -moz-transform: rotate(-20deg);
      -ms-transform: rotate(-20deg);
      transform: rotate(-20deg); } }

.rotorua-content-wrapper {
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: var(--fw--xlight); }
  .rotorua-content-wrapper p {
    font-size: 0.8em;
    text-align: left;
    line-height: 1.6; }
  .rotorua-content-wrapper span {
    font-weight: var(--fw-regular); }
  .rotorua-content-wrapper .lg {
    font-size: 1.5em; }

.subgrid-rotorua {
  grid-column: 2 / -2;
  display: grid;
  grid-template-columns: minmax(0px, 1fr) minmax(0px, 1fr);
  align-items: center;
  grid-template-areas: "subtitle subtitle" "gg1 text1" "text2 gg2" "gg3 gg4" "gg5 text3" "subtitle2 subtitle2" "wai1 text4" "text5 wai2" "wai3 wai4" "wai5 text6";
  gap: 1em 1em;
  text-align: center; }

.rotorua-subtitle--1 {
  grid-area: subtitle; }

.rotorua-subtitle--2 {
  grid-area: subtitle2; }

.gg-img--1 {
  grid-area: gg1; }

.gg-img--2 {
  grid-area: gg2; }

.gg-img--3 {
  grid-area: gg3; }

.gg-img--4 {
  grid-area: gg4; }

.gg-img--5 {
  grid-area: gg5; }

.wai-img--1 {
  grid-area: wai1; }

.wai-img--2 {
  grid-area: wai2; }

.wai-img--3 {
  grid-area: wai3; }

.wai-img--4 {
  grid-area: wai4; }

.wai-img--5 {
  grid-area: wai5; }

.gg-text--1 {
  grid-area: text1; }

.gg-text--2 {
  grid-area: text2; }

.gg-text--3 {
  grid-area: text3; }

.wai-text--1 {
  grid-area: text4; }

.wai-text--2 {
  grid-area: text5; }

.wai-text--3 {
  grid-area: text6; }
