:root {
  --clr-white: #fff;
  --clr-black: #000;
  --clr-gray: #404040;
  --clr-blue-light: #5dbcd2;
  --clr-background: #e8eef2;
  --clr-nav: pink;
  --clr-pink-light: #f0bad3;
  --clr-pink-dark: #d22e79;
  --fw--xlight: 200;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-bold: 700;
  --fs-h2: 3.5rem;
  --fs-big: 2.5rem;
  --fs-normal: 1.2rem;
  --small-gap: 12rem;
  --tiny-gap: 4rem; }

/* Generic */
h2,
strong {
  font-weight: var(--fw-bold); }

h2 {
  font-size: 3.5rem;
  font-family: "Poppins", sans-serif; }

@media (min-width: 800px) {
  h2 {
    font-size: 4.5rem; } }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

img {
  max-width: 100%;
  display: block; }

.current {
  border-bottom: 2px solid var(--clr-white); }
  .current:hover, .current:focus {
    color: rgba(64, 64, 64, 0.7) !important; }

.br,
.br-sm {
  display: block; }

.flex {
  display: flex; }

/* nav */
.nav-link {
  text-transform: uppercase;
  color: rgba(64, 64, 64, 0.7);
  font-weight: var(--fw-light); }

@media (min-width: 800px) {
  .nav-link {
    font-family: "Poppins", sans-serif; } }

/* Auckland2018 - Auckland */
.section-text--auckland {
  font-family: "Text Me One", sans-serif;
  line-height: 1.6; }

/* Generic */
.grid-main {
  display: grid;
  grid-template-columns: minmax(1em, 1fr) repeat(2, minmax(0px, 600px)) minmax(1em, 1fr); }

/* header - logo */
.header {
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  right: 0; }

.header-content {
  grid-column: 2 / -2;
  display: flex;
  justify-content: center;
  align-items: center; }
  @media (min-width: 800px) {
    .header-content {
      justify-content: space-between;
      align-items: center; } }

.logo-link {
  --size: 2.5rem;
  max-width: var(--size); }

@media (min-width: 800px) {
  .logo-link {
    --size: 4rem;
    max-width: var(--size); } }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  opacity: 0.6; }
  .bg-video__content {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.navigation {
  --clr-pink-light: #f0bad3;
  --clr-pink-dark: #d22e79;
  font-size: 0.6rem;
  position: relative; }
  @media (min-width: 600px) {
    .navigation {
      font-size: 0.8rem;
      opacity: 0;
      z-index: -10;
      transition: opacity 200ms ease-in-out; } }
  @media (min-width: 800px) {
    .navigation {
      font-size: 1rem; } }
  .navigation__checkbox {
    display: none; }
  .navigation__button {
    --size: 4em;
    top: 7em;
    right: 2em;
    z-index: 200;
    position: fixed;
    cursor: pointer;
    box-shadow: 2px 3px 10px 2px rgba(0, 0, 0, 0.1);
    display: grid;
    place-items: center; }
    .navigation__button, .navigation__button::after {
      width: var(--size);
      height: var(--size);
      border-radius: 50%;
      background-color: var(--clr-white); }
    .navigation__button::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      opacity: 1;
      z-index: -1;
      transition: all 250ms; }
    .navigation__button:hover::after, .navigation__button:focus::after {
      transform: scale(2);
      opacity: 0; }
  .navigation__background {
    --size: 3em;
    width: var(--size);
    height: var(--size);
    background-image: radial-gradient(var(--clr-pink-light), var(--clr-pink-dark));
    border-radius: 50%;
    position: fixed;
    top: 7.5em;
    right: 2.5em;
    transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
    z-index: 100; }
  .navigation__nav {
    position: fixed;
    z-index: 150;
    height: 100vh;
    width: 100%;
    top: 0;
    left: -100%;
    opacity: 0;
    transition: opacity 0.5s cubic-bezier(0.86, 0, 0.07, 1), transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }
  .navigation__list {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    width: 100%; }
  .navigation__item {
    margin: 1.5em; }
  .navigation__link {
    display: inline-block;
    padding: 0.5em 1em;
    font-size: 2em;
    font-weight: var(--fw-regular);
    text-transform: uppercase;
    color: rgba(64, 64, 64, 0.7);
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, white 50%);
    transition: all 250ms ease-in-out;
    background-size: 250%; }
    .navigation__link:hover, .navigation__link:focus {
      background-position: 100%;
      color: var(--clr-pink-light);
      transform: translateX(0.5em); }
  .navigation__checkbox:checked ~ .navigation__background {
    -ms-transform: scale(120);
    -moz-transform: scale(120);
    -webkit-transform: scale(120);
    -o-transform: scale(120);
    transform: scale(120); }
  .navigation__checkbox:checked ~ .navigation__nav {
    transition: opacity 0.5s cubic-bezier(0.86, 0, 0.07, 1) 0.3s, transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
    opacity: 1;
    transform: translateX(100%); }
  .navigation__icon {
    position: relative; }
    .navigation__icon, .navigation__icon::before, .navigation__icon::after {
      width: 1.8em;
      height: 2px;
      background: var(--clr-gray);
      display: inline-block; }
    .navigation__icon::before, .navigation__icon::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all 0.2s; }
    .navigation__icon::before {
      top: -0.5em; }
    .navigation__icon::after {
      top: 0.5em; }
  .navigation__button:hover .navigation__icon:before {
    top: -0.6em; }
  .navigation__button:hover .navigation__icon:after {
    top: 0.6em; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon {
    background: 0; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::before {
    transform: rotate(135deg);
    top: 0; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::after {
    transform: rotate(-135deg);
    top: 0; }

.show {
  z-index: initial;
  opacity: 1; }

.footer {
  grid-template-areas: ". info info ." ". logo logo .";
  align-items: baseline;
  justify-items: center;
  --clr-blue-light: #5dbcd2;
  --clr-white-dark: #e8eef2;
  background: #8bafcd;
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
  padding: 1em 0; }
  @media (min-width: 600px) {
    .footer {
      font-size: 1rem; } }
  @media (min-width: 1200px) {
    .footer {
      grid-template-areas: ". logo info .";
      align-items: center;
      justify-items: initial;
      font-size: 1rem; } }

.footer-logo-box {
  grid-area: logo;
  display: grid;
  place-items: center; }

.footer-logo {
  --size: 5em;
  width: var(--size);
  filter: invert(1) brightness(1); }

.footer-text {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 1.5em;
  color: var(--clr-white);
  font-weight: var(--fw-light); }

.footer-right {
  color: rgba(64, 64, 64, 0.5);
  font-size: 0.75em; }

.footer-info-box {
  grid-area: info;
  text-align: right; }

.footer-email {
  font-size: 1.2em;
  margin-top: 0; }
  .footer-email a {
    color: var(--clr-white-dark); }

.footer-list {
  justify-content: flex-end; }

.footer-item {
  margin: 1em;
  display: flex;
  position: relative;
  z-index: 1; }
  .footer-item .iconfont {
    color: var(--clr-white-dark);
    display: block;
    font-size: 2em; }

.footer-link {
  z-index: 5; }
  .footer-link:hover .iconfont,
  .footer-link:focus .iconfont {
    transform: scale(1.2); }

.body--home {
  margin: 0;
  --clr-black: #202020;
  --clr-blue: #008dfd;
  --clr-background: #e8eef2;
  --clr-white: #fdfeff;
  font-size: 0.6rem;
  background: #424d40;
  overflow: hidden;
  max-height: 100vh; }
  @media (min-width: 500px) {
    .body--home {
      font-size: 0.8rem; } }
  @media (min-width: 800px) {
    .body--home {
      font-size: 1rem; } }

* {
  box-sizing: border-box; }

.grid-home {
  display: grid;
  grid-template-columns: minmax(10%, 1fr) minmax(0px, 700px) minmax(0px, 700px) minmax(10%, 1fr); }

.header--main {
  position: initial;
  background: transparent; }
  .header--main .nav-link {
    color: var(--clr-black); }
  .header--main .nav-link:hover,
  .header--main .nav-link:focus {
    color: var(--clr-blue); }
  @media (min-midth: 800px) {
    .header--main {
      position: absolute; } }

.main-home {
  font-family: "Poppins", sans-serif;
  margin: 0;
  min-height: 100vh;
  place-items: center; }
  @media (min-midth: 800px) {
    .main-home {
      place-items: center; } }
  .main-home .hero {
    grid-column: 1 / -1;
    transform: translateY(-10%);
    display: grid;
    grid-template-columns: 10% minmax(0px, 40%) minmax(0px, 40%) 10%;
    align-items: flex-end;
    position: relative;
    background-image: linear-gradient(to bottom, rgba(1, 1, 1, 0), rgba(1, 1, 1, 0)), url(../Images/Home/home-bg-min.JPG);
    background-size: cover;
    background-position: 0% 60%;
    height: 80%;
    width: 100%; }
  .main-home .text-box {
    grid-column: 2 / -1;
    color: var(--clr-white);
    font-size: 1.5em;
    letter-spacing: 1px;
    transform: translateY(4em); }
    @media (min-width: 800px) {
      .main-home .text-box {
        transform: translateY(0); } }
  .main-home .hero__title {
    margin: 0; }
  .main-home .hero__subtitle {
    margin: 0; }
  .main-home .btn-wrapper {
    transform: translateY(-3em);
    grid-column: 2 / -1;
    align-self: center;
    justify-self: start;
    position: relative;
    --size: 10em;
    --border-radius: 5px;
    animation: start 1.5s ease-in-out 260ms backwards; }
  .main-home .btn--ocean {
    color: var(--clr-white);
    display: inline-block;
    padding: 0.5em 2em;
    position: relative;
    text-align: center;
    width: var(--size);
    overflow: hidden;
    z-index: 1;
    border-radius: var(--border-radius);
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5), 2px 8px 10px rgba(0, 0, 0, 0.8);
    transition: all 400ms ease-in-out, transform 100ms; }
    .main-home .btn--ocean:hover, .main-home .btn--ocean:focus {
      color: black; }
    .main-home .btn--ocean:hover .liquid,
    .main-home .btn--ocean:focus .liquid {
      background: var(--clr-white); }
    .main-home .btn--ocean:hover .liquid::after,
    .main-home .btn--ocean:focus .liquid::after,
    .main-home .btn--ocean:hover .liquid::before,
    .main-home .btn--ocean:focus .liquid::before {
      top: -40%; }
    .main-home .btn--ocean:active {
      transform: translateY(0.2rem); }
    .main-home .btn--ocean:hover + .animate-object,
    .main-home .btn--ocean:focus + .animate-object {
      animation: expand 500ms ease-in-out;
      transform: scale(1.5);
      opacity: 0; }
  .main-home .animate-object {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background: var(--clr-white);
    border-radius: var(--border-radius);
    transform: scale(0);
    opacity: 1; }
  .main-home .text {
    position: relative;
    text-transform: uppercase;
    z-index: 1; }
  .main-home .liquid {
    position: absolute;
    display: block;
    top: -100%;
    left: 0;
    width: var(--size);
    height: var(--size);
    background: transparent;
    transition: all 400ms ease-in-out; }
    .main-home .liquid::before, .main-home .liquid::after {
      content: "";
      position: absolute;
      display: block;
      top: -15%;
      left: -50%;
      width: 200%;
      height: 200%;
      background: rgba(0, 0, 0, 0.5);
      transform: translate(0, -75%);
      transition: all 400ms ease-in-out; }
    .main-home .liquid::before {
      border-radius: 45%;
      background: black;
      animation: wave 5s linear infinite; }
    .main-home .liquid::after {
      border-radius: 40%;
      animation: wave 10s linear infinite; }

@keyframes wave {
  0% {
    transform: translate(0, -75%) rotate(0deg); }
  100% {
    transform: translate(0, -75%) rotate(360deg); } }

@keyframes expand {
  0% {
    transform: scale(0);
    opacity: 0; }
  50% {
    opacity: 0; }
  51% {
    opacity: 1; }
  100% {
    opacity: 0;
    transform: scale(1.2, 1.3); } }

@keyframes start {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.slider {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: var(--clr-background);
  z-index: -1; }

* {
  box-sizing: border-box; }

body {
  margin: 0;
  background: #e8eef2; }

:root {
  --clr-white: #fff;
  --clr-black: #000;
  --clr-gray: #404040;
  --clr-background: #e8eef2;
  --clr-blue-light: #5dbcd2;
  --clr-nav: pink;
  --clr-pink-light: #f0bad3;
  --clr-pink-dark: #d22e79;
  --fw--xlight: 200;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-bold: 700;
  --fs-h2: 3.5rem;
  --fs-big: 2.5rem;
  --fs-normal: 1.2rem;
  --small-gap: 12rem;
  --tiny-gap: 4rem; }

/* nav */
.nav {
  display: none; }

@media (min-width: 800px) {
  .nav {
    display: initial; }
  .nav-list {
    display: flex;
    flex-direction: row; }
  .nav-item {
    margin: 0 1em; }
  .nav-link {
    font-size: 1rem;
    color: rgba(64, 64, 64, 0.7); }
    .nav-link:hover, .nav-link:focus {
      color: var(--clr-white); } }

.section-title {
  color: var(--clr-white); }

.section-view-box {
  margin-bottom: var(--tiny-gap);
  grid-column: 1 / -1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6em 0 4em;
  background-size: cover;
  background-position: left; }

@media (min-width: 800px) {
  .section-view-box {
    background-attachment: fixed;
    margin-bottom: var(--small-gap); } }

/* view-box */
.section-view-box--auckland {
  background-image: url(../Images/Auckland-section-bg.jpg);
  margin: 0;
  background-attachment: initial; }

@media (min-width: 800px) {
  .section-view-box {
    padding: 3em 0 2em; }
  .section-view-box--auckland {
    padding: 12em 0 8em; } }

.section-content--auckland {
  position: relative; }

.subgrid--auckland {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: minmax(1em, 1fr) repeat(2, minmax(0px, 600px)) minmax(1em, 1fr);
  grid-template-rows: 6em repeat(10, 100px) 6em;
  gap: 2em 0; }

@media (min-width: 800px) {
  .subgrid--auckland {
    grid-template-rows: 12em repeat(5, 100px) 12em;
    gap: 0 2em; } }

.content-auckland--1 {
  grid-row: 2 / span 4;
  grid-column: 2 / span 2; }

.content-auckland--2 {
  grid-row: 7 / span 4;
  grid-column: 2 / span 2; }

@media (min-width: 800px) {
  .content-auckland--1 {
    grid-column: 2;
    grid-row: 2 / span 4; }
  .content-auckland--2 {
    grid-column: 3;
    grid-row: 3 / span 4; } }

.img-wrapper-auckland--1 {
  background-image: url(../Images/2018AuckImg/Auckland/img--1.jpg);
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  position: relative; }

.img-wrapper-auckland--2 {
  background-image: url(../Images/2018AuckImg/Auckland/dinner.jpg);
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  position: relative; }

.text-wrapper--1 {
  background: var(--clr-white);
  padding: 0 3em;
  box-shadow: 0 4px 5px -5px black, inset 0 0 0 10px white, inset 0 0 0 15px;
  display: grid;
  place-items: center;
  position: absolute;
  left: 10%;
  right: 10%;
  bottom: 0;
  min-height: 30%;
  transform: translate(0, 50%); }

@media (max-width: 800px) and (min-width: 500px) {
  .text-wrapper--1 {
    left: 25%;
    right: 5%; } }

@media (min-width: 800px) {
  .text-wrapper--1 {
    left: 15%;
    right: 5%; } }

.text-wrapper--2 {
  background: var(--clr-white);
  padding: 0 3em;
  box-shadow: 0 4px 5px -5px black, inset 0 0 0 10px white, inset 0 0 0 15px;
  display: grid;
  place-items: center;
  position: absolute;
  left: 5%;
  right: 5%;
  bottom: 0;
  min-height: 30%;
  transform: translate(0, 50%); }

@media (max-width: 800px) and (min-width: 500px) {
  .text-wrapper--2 {
    left: 5%;
    right: 40%; } }

@media (min-width: 800px) {
  .text-wrapper--2 {
    background: var(--clr-white);
    padding: 0 3em;
    box-shadow: 0 -2px 5px -5px black, inset 0 0 0 10px white, inset 0 0 0 15px;
    left: 5%;
    right: 20%;
    top: 0;
    bottom: initial;
    transform: translate(0, -50%); } }

.section-text-auckland {
  font-family: "Text Me One", sans-serif; }

/* View box */
.section-view-box--taranga {
  background-image: url(../Images/Taranga-section-bg.JPG);
  background-position: top; }

@media (min-width: 800px) {
  .section-view-box--taranga {
    background-position: center; } }

.taranga-content-wrapper {
  grid-column: 2 / -2;
  flex-direction: column;
  line-height: 1.8;
  font-family: "The Girl Next Door", cursive;
  font-size: 1rem;
  margin-bottom: var(--tiny-gap); }
  @media (min-width: 800px) {
    .taranga-content-wrapper {
      margin-bottom: var(--small-gap); } }
  .taranga-content-wrapper p {
    font-size: 0.8em;
    margin: 0; }
  .taranga-content-wrapper span {
    font-family: "Poor Story", cursive;
    font-size: 1em;
    display: block; }
  @media (min-width: 500px) {
    .taranga-content-wrapper {
      font-size: 1.3rem; } }
  @media (min-width: 680px) {
    .taranga-content-wrapper {
      font-size: 1.6rem; } }
  @media (min-width: 860px) {
    .taranga-content-wrapper {
      font-size: 2rem; } }
  @media (min-width: 1150px) {
    .taranga-content-wrapper {
      font-size: 2.3rem; } }

.taranga-content--1 p,
.taranga-content--3 p {
  margin-right: 1em; }

.taranga-content--2 p {
  margin-left: 1em; }

@media (min-width: 500px) {
  .taranga-content--1 p,
  .taranga-content--3 p {
    margin-right: 2em; }
  .taranga-content--2 p {
    margin-left: 2em; } }

.taranga-content {
  justify-content: space-between;
  align-items: center; }
  .taranga-content img {
    --size: 50vw;
    width: var(--size);
    height: var(--size);
    object-fit: cover; }
    @media (min-width: 860px) {
      .taranga-content img {
        --size: 482.5px;
        width: var(--size);
        height: var(--size); } }
  .taranga-content:not(:last-child) {
    margin-bottom: 2em; }

.taranga-content--2 img {
  order: -1; }
  @media (min-width: 690px) {
    .taranga-content--2 img {
      width: calc(var(--size) + 10vw);
      height: var(--size); } }

/* view box */
.section-view-box--rotorua {
  background-image: url(../Images/Rotoura-section-bg.JPG); }

.rotorua-content-wrapper {
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: var(--fw--xlight); }
  .rotorua-content-wrapper .br {
    display: initial; }
  .rotorua-content-wrapper .br-sm {
    display: block; }
  @media (min-width: 550px) {
    .rotorua-content-wrapper {
      font-size: 1.2rem; } }
  @media (min-width: 650px) {
    .rotorua-content-wrapper .br-sm {
      display: initial; }
    .rotorua-content-wrapper .br {
      display: block; } }
  @media (min-width: 1000px) {
    .rotorua-content-wrapper {
      font-size: 1.4rem; } }
  .rotorua-content-wrapper p {
    font-size: 0.8em;
    text-align: left;
    line-height: 1.6; }
  .rotorua-content-wrapper .fw-regular {
    font-weight: var(--fw-regular); }
  .rotorua-content-wrapper .lg {
    font-size: 1.5em; }

.rotorua-subtitle {
  font-family: "Rock Salt", cursive;
  font-size: 1.8em; }
  @media (min-width: 800px) {
    .rotorua-subtitle {
      -webkit-transform: rotate(-20deg);
      -moz-transform: rotate(-20deg);
      -ms-transform: rotate(-20deg);
      transform: rotate(-20deg); } }

.subgrid-rotorua {
  grid-column: 2 / -2;
  display: grid;
  grid-template-columns: minmax(0px, 1fr) minmax(0px, 1fr);
  align-items: center;
  justify-items: center;
  margin-bottom: var(--small-gap);
  grid-template-areas: "subtitle subtitle" "gg1 text1" "text2 gg2" "gg3 gg4" "gg5 text3" "subtitle2 subtitle2" "wai1 text4" "text5 wai2" "wai3 wai4" "wai5 text6";
  gap: 1em 1em;
  text-align: center; }
  @media (min-width: 800px) {
    .subgrid-rotorua {
      grid-template-columns: repeat(3, minmax(0px, 1fr));
      grid-template-areas: "subtitle gg1 text1" "gg2 text2 gg3" "gg4 gg5 text3" "subtitle2 wai1 text4" "wai2 text5 wai3" "wai4 wai5 text6"; } }

.rotorua-subtitle--1 {
  grid-area: subtitle; }

.rotorua-subtitle--2 {
  grid-area: subtitle2; }

.wai-img--2 {
  height: 258.133px;
  width: 387.2px;
  object-fit: cover;
  object-position: center; }

.gg-img--1 {
  grid-area: gg1; }

.gg-img--2 {
  grid-area: gg2; }

.gg-img--3 {
  grid-area: gg3; }

.gg-img--4 {
  grid-area: gg4; }

.gg-img--5 {
  grid-area: gg5; }

.wai-img--1 {
  grid-area: wai1; }

.wai-img--2 {
  grid-area: wai2; }

.wai-img--3 {
  grid-area: wai3; }

.wai-img--4 {
  grid-area: wai4; }

.wai-img--5 {
  grid-area: wai5; }

.gg-text--1 {
  grid-area: text1; }

.gg-text--2 {
  grid-area: text2; }

.gg-text--3 {
  grid-area: text3; }

.wai-text--1 {
  grid-area: text4; }

.wai-text--2 {
  grid-area: text5; }

.wai-text--3 {
  grid-area: text6; }
