//========== Default Settings ==========
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;700&family=Montserrat:wght@200;300&family=Quicksand:wght@300;400;500&display=swap");
@import "./typography";
@import "./variable";
@import "./btn";

//========================
//  Lignt Box Variables
//========================
:root {
}

.lightbox-wrapper {
  grid-column: 1 / -1;
  width: 80vw;

  margin: 0 auto;

  .carousel-control-prev,
  .carousel-control-next {
    width: 4rem;
    background: black;
    opacity: 0.3;
  }

  .carousel-control-prev {
    left: -4rem;
  }
  .carousel-control-next {
    right: -4rem;
  }
}

@media only screen and (min-width: 800px) {
  .lightbox-wrapper {
    display: none;
  }
}
