//========== Default Settings ==========
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;700&family=Montserrat:wght@200;300&family=Quicksand:wght@300;400;500&display=swap");
@import "./typography";
@import "./variable";
@import "./btn";

//========================
//  Lignt Box Variables
//========================
:root {
}

.food-grid-wrapper {
  display: none;
}

.carousel-food {
  grid-column: 1 / -1;

  // background-image: url(../DSCF2770.JPG);

  margin-top: 0rem;

  height: 200px;

  .carousel {
    height: inherit;
  }

  // width: 80vw;
}

@media only screen and (min-width: 800px) {
  .carousel-food {
    display: none;
  }

  //================Desktop version food gallery================
  .food-grid-wrapper {
    grid-column: 1 / -1;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1rf);

    grid-template-areas:
      "div1 div2 div3 div4"
      "div5 div6 div7 div8";

    background: black;

    .food-grid__img {
      background-size: cover;
      background-position: center;
      overflow: hidden;

      object-fit: cover;
      object-position: center;

      &:focus-within > img {
        opacity: 1;
        transform: scale(1);
      }

      img {
        width: 100%;
        opacity: 0.6;
        transform: scale(1.12);
        transition: transform 0.5s ease-in-out;

        &:hover {
          opacity: 1;
          transform: scale(1);

          cursor: pointer;
        }
      }
    }

    .grid--1 {
      grid-area: div1;
    }

    .grid--2 {
      grid-area: div2;
    }

    .grid--3 {
      grid-area: div3;
    }

    .grid--4 {
      grid-area: div4;
    }

    .grid--5 {
      grid-area: div5;
    }

    .grid--6 {
      grid-area: div6;
    }

    .grid--7 {
      grid-area: div7;
    }

    .grid--8 {
      grid-area: div8;
    }
  }
}
