//========== DARK MODE ===========

html[data-theme="dark"] {
  .body--ourstory {
    background: var(--clr-black);

    --clr-link: var(--clr-white);
  }

  .logo-link--ourstory {
    filter: invert(1);
  }
}

// ===========================
// Body
// ===========================

.body--ourstory {
  background: var(--clr-background);
  // overflow: hidden;

  font-family: "Poppins", sans-serif;

  font-size: 0.6rem;
  @media (min-width: 600px) {
    font-size: 0.8rem;
  }

  @media (min-width: 800px) {
    font-size: 1rem;
  }
}

// ===========================
// Layout
// ===========================
.grid--ourstory {
  display: grid;

  // grid-template-columns:
  //   minmax(1em, 1fr) minmax(0px, 300px)
  //   minmax(1em, 1fr);

  align-content: center;

  grid-template-columns: minmax(5em, 1fr) minmax(0px, 350px) minmax(5em, 1fr);

  gap: 5em 0;

  @media (min-width: 800px) {
    grid-template-columns:
      minmax(1em, 1fr) minmax(0px, 400px) minmax(2em, 1fr)
      minmax(0px, 400px) minmax(2em, 1fr) minmax(0px, 400px) minmax(1em, 1fr);

    gap: 0;
  }
}

// ===========================
// Header--ourstory
// ===========================
.header--ourstory {
  position: static;
  background: transparent;

  min-height: 10vh;

  .nav-link {
    color: var(--clr-link);
  }

  .nav-link:hover,
  .nav-link:focus {
    color: var(--clr-blue);
  }
}

// ===============================================
// ================ Main--ourstory ===============
// ===============================================
.main--ourstory {
  min-height: 90vh;
  position: relative;
  padding: 5em 0;
}

// ===========================
// Video bg
// ===========================

.video--ourstory {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.6;
  overflow: hidden;

  video {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
