.preloader-page {
  position: fixed;
  height: 100vh;
  width: 100%;
  background: #fff;
  z-index: 200;

  opacity: 1;

  display: flex;

  justify-content: center;

  transition: opacity 0.5s ease;

  .preloader-wrapper {
    position: absolute;
    top: 40%;
  }

  h2 {
    position: absolute;
    top: 50%;

    //Mobile -------- h2 fontsize
    @media only screen and (max-width: 800px) {
      font-size: 2rem;
    }
  }
}

.preloader-page--finish {
  opacity: 0;
  pointer-events: none;
}
