@mixin typo_paragraph(
  $font-size: 1.5rem,
  $line-height: 1.6,
  $letter-spacing: 0.8px
) {
  font-size: $font-size;

  line-height: $line-height;

  letter-spacing: $letter-spacing;
}

@mixin article_user-logo($width: 2.5rem, $height: 2.5rem) {
  width: $width;
  height: $height;
}
