@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700&family=Montserrat:wght@200;300&family=Quicksand:wght@300;400;500&display=swap');
@import "./typography";
@import "./variable";
@import "./btn";

//==== Btn to open naviation menu ====
#fixed__nav-btn {
    all: unset;
    position: fixed;
    right: 1.5rem;
    top: 5rem;

    font-size: 2.5rem;

    cursor: pointer;

    z-index: 1;

    color: $ui-open-btn;
}

.menu {
    z-index: 0;
    position: fixed;
    background: $ui-menu-main;

    top: -999px;
    left:0;
    bottom:0;
    right:0;
    height: 100vh;
    width: 100vw;

    z-index: 2;

    display: fixed;
    
    transition: opacity .4s ease-out;

    opacity: 1;

    //==== Search Box ====
    .search-bar {
        --size: 3rem;
        height: var(--size);
        width: var(--size);

        padding: 3px;

        position: absolute;
        top: 5rem;
        right: 2rem;

        border: 2px solid $search-bar;

        display: flex;

        border-radius: 100vh;

        transition: width 300ms ease-in-out;

        overflow: hidden;

        &:focus-within {
            width: 20rem;

            .search-bar__input {
                opacity: 1;
                cursor: initial;
            }

            .search-bar__submit {
                background: $search-icon;
            }
        }

        .search-bar__input {
            font-size: $fs-ui-search;

            position: absolute;
            top: 0;
            bottom: 0;

            padding: 0 2em;
            border: none;

            line-height: calc(var(--size) - .7rem);

            background: transparent;

            opacity: 0;

            color: $search-icon;

            cursor: pointer;

            &:focus {
                outline: none;
            }

            &::placeholder {
                color: $ui-btn-color;
            }
        }

        .search-bar__submit {
            font-size: $fs-ui-search;
            cursor: pointer;
            border: none;
            background: transparent;
            border-radius: 100vh;

            // background: pink;

            width: calc(var(--size) - 10px);
            height: calc(var(--size) - 10px);

            margin-right: auto;

            transition: background 150ms ease-in-out;

            color: $search-icon;
        }
    }



    //==== Undo Btn ====
    #menu__undo {
        all: unset;
        position: absolute;
        bottom: 1rem;
        left: 1rem;
    
        font-size: 2.5rem;

        color: white;
    
        cursor: pointer;
    
        z-index: 1;
    }
    
}

//==== List Items ====
.data {
    position: relative;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    ul {
        list-style: none;
        // background: pink;
    
        font-size: $ui-btn-size;
        
    
        li {
            text-align: center;
            // background: pink;

            a {
                display: inline-block;
                height: 100%;
                width: 100%;
                padding: 4rem 0;

                text-decoration: none;
                color: $ui-btn-color;

                position: relative;

                &:hover,
                &:focus {
                    background-color: $ui-li-hover;
                    background-color: $ui-li-hover;
                    color: $ui-menu-main;
                }
                    
                &:first:before {
                    content: '';
                    position: absolute;
                    border-bottom: 2px solid white;
                    left: 0;
                    top: 0;
                    
                    width: 100vw;
                }
                    
                &::after {
                    content: '';
                    position: absolute;
                    width: 100vw;
                    border-bottom: 2px solid white;
                    left: 0;
                    bottom: 0;
                }  
            }
        }
    }
}


//=====================
//     Media Query
//=====================
@media only screen and (min-width: 800px) {
    #fixed__nav-btn,
    .menu {
        display: none;
    }

}