//========= Variables =========

//---- Native Color ----
$grey-dark: #323232;
$grey: #545454;
$grey-light: #656565;
$grey-lightest: #767676;

$blue-light: #87b6d9;
$blue-dark: #306b97;

$yellow: #f3c83e;
// $yellow: #feae14;

$pink: #ffaaa5;
$blue: #00a8cc;


//---- Major Variables ----
$bg-main: white;
$nav-main: rgba($yellow, 1);

$ft-title-venus: $blue-light;
$ft-title-franky: $blue-light;

$nav-btn: $grey-dark;
$nav-btn-hover: $grey-dark;

$search-color: #fff;

$comment-icon: $grey-dark;
$user-desc: $grey-dark;

//---- Font Size ----
$nav-btn-size: 2rem;

$fs-user-desc: .8rem;
$bfs-user-desc: 1.5rem;

//---- Button ----

$btn-main: $blue-light; 

$bfs-btn: 1.5rem;