html {
  --clr-white: #fdfeff;
  --clr-black: #111;
  --clr-gray: #404040;
  --clr-blue: #008dfd;
  --clr-blue-light: #5dbcd2;
  --clr-pink-light: #f0bad3;
  --clr-pink-dark: #d22e79;
  --fw--xlight: 200;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-bold: 700;
  --fs-h2: 3.5rem;
  --fs-big: 2.5rem;
  --fs-normal: 1.2rem;
  --small-gap: 8rem;
  --tiny-gap: 3rem;
  --mid-gap: 4rem;
  --clr-background: #e8eef2;
}

/* Generic */
h2,
strong {
  font-weight: var(--fw-bold);
}

h2 {
  font-size: 3.5rem;
  font-family: "Poppins", sans-serif;
}

@media (min-width: 800px) {
  h2 {
    font-size: 4.5rem;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

.br,
.br-sm {
  display: block;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* nav */
.nav-link {
  text-transform: uppercase;
  color: rgba(64, 64, 64, 0.7);
  font-weight: var(--fw-light);
}

@media (min-width: 800px) {
  .nav-link {
    font-family: "Poppins", sans-serif;
  }
}

/* Auckland2018 - Auckland */
.section-text--auckland {
  font-family: "Text Me One", sans-serif;
  line-height: 1.6;
}

/* Generic */
.grid-main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(1em, 1fr) (minmax(0px, 600px))[2] minmax(1em, 1fr);
      grid-template-columns: minmax(1em, 1fr) repeat(2, minmax(0px, 600px)) minmax(1em, 1fr);
}

html[data-theme="dark"] {
  --clr-btn-dark: #222;
  --clr-btn-white: #fdfeff;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  opacity: 0.6;
}

.bg-video__content {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.navigation {
  --clr-navlink: #fff;
  --effect-navlink: #6e6e6e;
  --clr-nav-light: #eee;
  --clr-nav-dark: #ccc;
  font-size: 0.6rem;
  position: relative;
}

@media (min-width: 600px) {
  .navigation {
    font-size: 0.8rem;
    opacity: 0;
    -webkit-transition: opacity 200ms ease-in-out;
    transition: opacity 200ms ease-in-out;
  }
}

@media (min-width: 800px) {
  .navigation {
    font-size: 1rem;
  }
}

.navigation__checkbox {
  display: none;
}

.navigation__button {
  --size: 4em;
  top: 13em;
  right: 2em;
  z-index: 200;
  position: fixed;
  cursor: pointer;
  -webkit-box-shadow: 2px 3px 10px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 3px 10px 2px rgba(0, 0, 0, 0.1);
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.navigation__button, .navigation__button::after {
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  background-color: var(--clr-white);
}

.navigation__button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  z-index: -1;
  -webkit-transition: all 250ms;
  transition: all 250ms;
}

.navigation__button:hover::after, .navigation__button:focus::after {
  -webkit-transform: scale(2);
          transform: scale(2);
  opacity: 0;
}

.navigation__background {
  --size: 3em;
  width: var(--size);
  height: var(--size);
  background-image: radial-gradient(var(--clr-nav-light), var(--clr-nav-dark));
  border-radius: 50%;
  position: fixed;
  top: 13.5em;
  right: 2.5em;
  -webkit-transition: -webkit-transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  transition: -webkit-transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1), -webkit-transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  z-index: 100;
}

.navigation__nav {
  position: fixed;
  z-index: 150;
  height: 100vh;
  width: 100%;
  top: 0;
  left: -100%;
  opacity: 0;
  -webkit-transition: opacity 0.5s cubic-bezier(0.86, 0, 0.07, 1), -webkit-transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  transition: opacity 0.5s cubic-bezier(0.86, 0, 0.07, 1), -webkit-transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  transition: opacity 0.5s cubic-bezier(0.86, 0, 0.07, 1), transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  transition: opacity 0.5s cubic-bezier(0.86, 0, 0.07, 1), transform 0.8s cubic-bezier(0.86, 0, 0.07, 1), -webkit-transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%;
}

.navigation__item {
  margin: 1.5em;
}

.navigation__link {
  display: inline-block;
  padding: 0.5em 1em;
  font-family: "Poppins", sans-serif;
  font-size: 2em;
  font-weight: var(--fw-regular);
  text-transform: uppercase;
  color: rgba(var(--clr-navlink), 1);
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, white 50%);
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
  background-size: 250%;
}

.navigation__link:hover, .navigation__link:focus {
  background-position: 100%;
  -webkit-transform: translateX(0.5em);
          transform: translateX(0.5em);
}

.navigation__checkbox:checked ~ .navigation__background {
  -webkit-transform: scale(120);
  transform: scale(120);
}

.navigation__checkbox:checked ~ .navigation__nav {
  -webkit-transition: opacity 0.5s cubic-bezier(0.86, 0, 0.07, 1) 0.3s, -webkit-transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  transition: opacity 0.5s cubic-bezier(0.86, 0, 0.07, 1) 0.3s, -webkit-transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  transition: opacity 0.5s cubic-bezier(0.86, 0, 0.07, 1) 0.3s, transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  transition: opacity 0.5s cubic-bezier(0.86, 0, 0.07, 1) 0.3s, transform 0.8s cubic-bezier(0.86, 0, 0.07, 1), -webkit-transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  opacity: 1;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.navigation__icon {
  position: relative;
}

.navigation__icon, .navigation__icon::before, .navigation__icon::after {
  width: 1.8em;
  height: 2px;
  background: var(--clr-gray);
  display: inline-block;
}

.navigation__icon::before, .navigation__icon::after {
  content: "";
  position: absolute;
  left: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.navigation__icon::before {
  top: -0.5em;
}

.navigation__icon::after {
  top: 0.5em;
}

.navigation__button:hover .navigation__icon:before {
  top: -0.6em;
}

.navigation__button:hover .navigation__icon:after {
  top: 0.6em;
}

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background: 0;
}

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  top: 0;
}

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  top: 0;
}

.show {
  z-index: initial;
  opacity: 1;
}

html[data-theme="dark"] .navigation {
  --clr-nav-light: #111;
  --clr-nav-dark: #3b3b3b;
  --clr-navlink: #fdfeff;
}

html[data-theme="dark"] .navigation__button, html[data-theme="dark"] .navigation__button::after {
  background-color: var(--clr-btn-dark);
}

html[data-theme="dark"] .navigation__icon, html[data-theme="dark"] .navigation__icon::after, html[data-theme="dark"] .navigation__icon::before {
  background: var(--clr-btn-white);
}

html[data-theme="dark"] .navigation__link {
  color: var(--clr-navlink);
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, var(--effect-navlink) 50%);
}

.onscreen {
  --clr-btn-dark: #222;
  --clr-btn-white: #fdfeff;
  --size: 4em;
  top: 13em;
  right: 2em;
  z-index: 200;
  position: fixed;
  cursor: pointer;
  -webkit-box-shadow: 2px 3px 10px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 3px 10px 2px rgba(0, 0, 0, 0.1);
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.onscreen, .onscreen::after {
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  background-color: var(--clr-white);
}

.onscreen::after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  opacity: 1;
  z-index: -1;
  -webkit-transition: all 250ms;
  transition: all 250ms;
}

.onscreen:hover::after, .onscreen:focus::after {
  -webkit-transform: scale(2);
          transform: scale(2);
  opacity: 0;
}

.theme__checkbox {
  display: none;
}

.theme-toggle {
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
  -webkit-animation: fadein 1.5s;
          animation: fadein 1.5s;
}

.theme__icon .iconthemelightdark {
  font-size: 2.5em;
}

@-webkit-keyframes fadein {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes fadein {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.onscreen--index {
  top: 11em;
}

html[data-theme="dark"] .theme-toggle,
html[data-theme="dark"] .theme-toggle::after {
  background: var(--clr-btn-dark);
}

html[data-theme="dark"] .theme-toggle .iconthemelightdark {
  color: var(--clr-btn-white);
}

.footer {
      grid-template-areas: ". info info ." ". logo logo .";
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  justify-items: center;
  --clr-footer-txt: #e8eef2;
  --clr-footer-bg: #8bafcd;
  background: var(--clr-footer-bg);
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
  padding: 1em 0;
}

@media (min-width: 600px) {
  .footer {
    font-size: 1rem;
  }
}

@media (min-width: 1200px) {
  .footer {
        grid-template-areas: ". logo info .";
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: initial;
    font-size: 1rem;
  }
}

.footer-logo-box {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: logo;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

@media (min-width: 1200px) {
  .footer-logo-box {
    place-items: initial;
  }
}

.footer-logo {
  --size: 5em;
  width: var(--size);
  -webkit-filter: invert(1) brightness(1);
          filter: invert(1) brightness(1);
}

.footer-text {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 1.5em;
  color: var(--clr-footer-txt);
  font-weight: var(--fw-light);
}

.footer-right {
  color: rgba(64, 64, 64, 0.5);
  font-size: 0.75em;
}

.footer-info-box {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: info;
  text-align: right;
}

.footer-email {
  font-size: 1.2em;
  margin-top: 0;
}

.footer-email a {
  color: var(--clr-footer-txt);
}

.footer-list {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer-item {
  margin: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 1;
}

.footer-item .iconfont {
  color: var(--clr-footer-txt);
  display: block;
  font-size: 2em;
}

.footer-link {
  z-index: 5;
}

.footer-link:hover .iconfont,
.footer-link:focus .iconfont {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

/* header - logo */
.header {
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  min-height: 10vh;
}

.header-content {
  grid-column: 2 / -2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 800px) {
  .header-content {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.logo-link {
  --size: 2.5rem;
  max-width: var(--size);
}

.current {
  border-bottom: 2px solid var(--clr-white);
}

.current:hover, .current:focus {
  color: rgba(var(--clr-black), 0.7) !important;
}

@media (min-width: 800px) {
  .logo-link {
    --size: 4rem;
    max-width: var(--size);
  }
}

html[data-theme="dark"] .body--home {
  --clr-slider: var(--clr-black);
  --clr-link: var(--clr-white);
}

html[data-theme="dark"] .logo-link--home {
  -webkit-filter: invert(1);
          filter: invert(1);
}

html.transition,
html.transition * {
  -webkit-transition: all 250ms !important;
  transition: all 250ms !important;
  -webkit-transition-delay: 0 !important;
          transition-delay: 0 !important;
}

.body--home {
  margin: 0;
  padding: 0;
  font-size: 0.6rem;
  height: 100vh;
  overflow: hidden;
  --home-bg: #424d40;
  --clr-link: var(--clr-black);
  --clr-slider: var(--clr-background);
  background: var(--home-bg);
}

@media (min-width: 500px) {
  .body--home {
    font-size: 0.8rem;
  }
}

@media (min-width: 800px) {
  .body--home {
    font-size: 1rem;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.grid-home {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(10%, 1fr) minmax(0px, 700px) minmax(0px, 700px) minmax(10%, 1fr);
      grid-template-columns: minmax(10%, 1fr) minmax(0px, 700px) minmax(0px, 700px) minmax(10%, 1fr);
}

.onscreen--home {
  top: 7em;
}

.header--home {
  position: static;
  background: transparent;
  min-height: 10vh;
}

.header--home .nav-link {
  color: var(--clr-link);
}

.header--home .nav-link:hover,
.header--home .nav-link:focus {
  color: var(--clr-blue);
}

.main-home {
  font-family: "Poppins", sans-serif;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 90vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-home .hero {
  position: relative;
  width: 100%;
  -webkit-transform: translateY(-9vh);
          transform: translateY(-9vh);
}

.main-home .hero__img {
  height: 100%;
  width: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

.main-home .text-box {
  position: absolute;
  bottom: 33%;
  left: 10%;
  color: var(--clr-white);
  font-size: 1.5em;
  letter-spacing: 1px;
}

@media (min-width: 800px) {
  .main-home .text-box {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.main-home .hero__title {
  margin: 0;
}

.main-home .hero__subtitle {
  margin: 0;
}

.main-home .btn-wrapper {
  position: absolute;
  bottom: 22%;
  left: 10%;
  --size: 10em;
  --border-radius: 5px;
  -webkit-animation: start 1.5s ease-in-out 260ms backwards;
          animation: start 1.5s ease-in-out 260ms backwards;
}

@media (min-width: 800px) {
  .main-home .btn-wrapper {
    bottom: 15%;
  }
}

.main-home .btn--ocean {
  color: var(--clr-white);
  display: inline-block;
  padding: 0.5em 2em;
  position: relative;
  text-align: center;
  width: var(--size);
  overflow: hidden;
  z-index: 1;
  border-radius: var(--border-radius);
  -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5), 2px 8px 10px rgba(0, 0, 0, 0.8);
          box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5), 2px 8px 10px rgba(0, 0, 0, 0.8);
  -webkit-transition: all 400ms ease-in-out, -webkit-transform 100ms;
  transition: all 400ms ease-in-out, -webkit-transform 100ms;
  transition: all 400ms ease-in-out, transform 100ms;
  transition: all 400ms ease-in-out, transform 100ms, -webkit-transform 100ms;
}

.main-home .btn--ocean:hover, .main-home .btn--ocean:focus {
  color: black;
}

.main-home .btn--ocean:hover .liquid,
.main-home .btn--ocean:focus .liquid {
  background: var(--clr-white);
}

.main-home .btn--ocean:hover .liquid::after,
.main-home .btn--ocean:focus .liquid::after,
.main-home .btn--ocean:hover .liquid::before,
.main-home .btn--ocean:focus .liquid::before {
  top: -40%;
}

.main-home .btn--ocean:active {
  -webkit-transform: translateY(0.2rem);
          transform: translateY(0.2rem);
}

.main-home .btn--ocean:hover + .animate-object,
.main-home .btn--ocean:focus + .animate-object {
  -webkit-animation: expand 500ms ease-in-out;
          animation: expand 500ms ease-in-out;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  opacity: 0;
}

.main-home .animate-object {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background: var(--clr-white);
  border-radius: var(--border-radius);
  -webkit-transform: scale(0);
          transform: scale(0);
  opacity: 1;
}

.main-home .text {
  position: relative;
  text-transform: uppercase;
  z-index: 1;
}

.main-home .liquid {
  position: absolute;
  display: block;
  top: -100%;
  left: 0;
  width: var(--size);
  height: var(--size);
  background: transparent;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.main-home .liquid::before, .main-home .liquid::after {
  content: "";
  position: absolute;
  display: block;
  top: -10%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transform: translate(0, -75%);
          transform: translate(0, -75%);
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.main-home .liquid::before {
  border-radius: 45%;
  background: black;
  -webkit-animation: wave 5s linear infinite;
          animation: wave 5s linear infinite;
}

.main-home .liquid::after {
  border-radius: 40%;
  -webkit-animation: wave 10s linear infinite;
          animation: wave 10s linear infinite;
}

@-webkit-keyframes wave {
  0% {
    -webkit-transform: translate(0, -75%) rotate(0deg);
            transform: translate(0, -75%) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(0, -75%) rotate(360deg);
            transform: translate(0, -75%) rotate(360deg);
  }
}

@keyframes wave {
  0% {
    -webkit-transform: translate(0, -75%) rotate(0deg);
            transform: translate(0, -75%) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(0, -75%) rotate(360deg);
            transform: translate(0, -75%) rotate(360deg);
  }
}

@-webkit-keyframes expand {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  51% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.2, 1.3);
            transform: scale(1.2, 1.3);
  }
}

@keyframes expand {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  51% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.2, 1.3);
            transform: scale(1.2, 1.3);
  }
}

@-webkit-keyframes start {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes start {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: var(--clr-slider);
  z-index: -1;
}

html[data-theme="dark"] .body--ourstory {
  background: var(--clr-black);
  --clr-link: var(--clr-white);
}

html[data-theme="dark"] .logo-link--ourstory {
  -webkit-filter: invert(1);
          filter: invert(1);
}

.body--ourstory {
  background: var(--clr-background);
  font-family: "Poppins", sans-serif;
  font-size: 0.6rem;
}

@media (min-width: 600px) {
  .body--ourstory {
    font-size: 0.8rem;
  }
}

@media (min-width: 800px) {
  .body--ourstory {
    font-size: 1rem;
  }
}

.grid--ourstory {
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-grid-columns: minmax(5em, 1fr) minmax(0px, 350px) minmax(5em, 1fr);
      grid-template-columns: minmax(5em, 1fr) minmax(0px, 350px) minmax(5em, 1fr);
  gap: 5em 0;
}

@media (min-width: 800px) {
  .grid--ourstory {
    -ms-grid-columns: minmax(1em, 1fr) minmax(0px, 400px) minmax(2em, 1fr) minmax(0px, 400px) minmax(2em, 1fr) minmax(0px, 400px) minmax(1em, 1fr);
        grid-template-columns: minmax(1em, 1fr) minmax(0px, 400px) minmax(2em, 1fr) minmax(0px, 400px) minmax(2em, 1fr) minmax(0px, 400px) minmax(1em, 1fr);
    gap: 0;
  }
}

.header--ourstory {
  position: static;
  background: transparent;
  min-height: 10vh;
}

.header--ourstory .nav-link {
  color: var(--clr-link);
}

.header--ourstory .nav-link:hover,
.header--ourstory .nav-link:focus {
  color: var(--clr-blue);
}

.main--ourstory {
  min-height: 90vh;
  position: relative;
  padding: 5em 0;
}

.video--ourstory {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.6;
  overflow: hidden;
}

.video--ourstory video {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.card {
  --clr-card-content: #e8eef2;
  --clr-card-txt: var(--clr-blue-light);
  height: 30rem;
  position: relative;
  -webkit-perspective: 150rem;
          perspective: 150rem;
  font-size: 1rem;
}

@media (min-width: 800px) {
  .card {
    height: 30rem;
    font-size: 0.8rem;
  }
}

@media (min-width: 850px) {
  .card {
    height: 32rem;
    font-size: 1rem;
  }
}

.card:hover .cardside--front, .card:focus .cardside--front {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.card:hover .cardside--back, .card:focus .cardside--back {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}

.cardside {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  overflow: hidden;
  -webkit-box-shadow: 2px 5px 5px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 5px 5px 5px rgba(0, 0, 0, 0.3);
  -webkit-transition: -webkit-transform 0.8s ease;
  transition: -webkit-transform 0.8s ease;
  transition: transform 0.8s ease;
  transition: transform 0.8s ease, -webkit-transform 0.8s ease;
}

.cardside--front {
  height: 100%;
  background-size: cover;
  background-position: center;
  background: var(--clr-white);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cardside--front__header {
  height: 60%;
  background-size: cover;
  background-position: center;
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 78%, 0 100%);
          clip-path: polygon(0 0, 100% 0%, 100% 78%, 0 100%);
}

.card-title {
  font-size: 1.5em;
  color: var(--clr-card-txt);
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 60%;
  margin: 0;
  position: absolute;
  top: 40%;
  right: 5%;
  text-align: right;
}

.card-title__span {
  -webkit-box-decoration-break: clone;
          box-decoration-break: clone;
  background: rgba(0, 0, 0, 0.5);
  padding: 0.1em 0.5em;
}

.card__details {
  width: 80%;
  text-align: center;
  margin: auto auto;
}

.card__item {
  padding: 0.5em 0;
  font-weight: var(--fw-light);
  letter-spacing: 0.8px;
  color: var(--clr-gray);
  border-bottom: 1px solid var(--clr-blue-light);
}

.cardside--back {
  height: 100%;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card__intro {
  border: 2px solid;
  width: 80%;
  font-size: 1.5em;
  text-align: center;
  margin-top: 30%;
  background-image: -webkit-gradient(linear, left top, right top, from(#4facfe), to(#00f2fe));
  background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
  background-clip: text;
  color: transparent;
  line-height: 2;
  text-shadow: 0 8px 6px rgba(0, 0, 0, 0.2);
}

.card__btn {
  background: 0;
  outline: 0;
  border: 0;
  text-transform: uppercase;
  background: var(--clr-white);
  border-radius: 50px;
}

.card__btn a {
  display: inline-block;
  color: var(--clr-gray);
  font-size: 1.2em;
  padding: 0.8em 1.6em;
  letter-spacing: 1px;
}

.card--1 {
  -ms-grid-column: 2;
  grid-column: 2;
}

.card--1 .cardside--front__header {
  background-image: linear-gradient(120deg, rgba(161, 196, 253, 0.2) 0%, rgba(194, 233, 251, 0.2) 100%), url(../Images/ourstory/ourstory-nz.jpg);
}

.card--1 .cardside--back {
  background: var(--clr-card-content);
}

.card--2 {
  -ms-grid-column: 2;
  grid-column: 2;
}

.card--3 {
  -ms-grid-column: 2;
  grid-column: 2;
}

@media (min-width: 800px) {
  .card--1 {
    -ms-grid-column: 2;
    grid-column: 2;
  }
  .card--2 {
    -ms-grid-column: 4;
    grid-column: 4;
  }
  .card--3 {
    -ms-grid-column: 6;
    grid-column: 6;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.body--index {
  background: var(--clr-background);
  font-size: 0.6rem;
}

@media (min-width: 600px) {
  .body--index {
    font-size: 0.8rem;
  }
}

@media (min-width: 800px) {
  .body--index {
    font-size: 1rem;
  }
}

html[data-theme="dark"] .body--index {
  --clr-background: var(--clr-black);
}

html[data-theme="dark"] .body--index p,
html[data-theme="dark"] .body--index h2 {
  color: var(--clr-white);
}

html[data-theme="dark"] .body--index .section-text-auckland {
  color: initial;
}

html[data-theme="dark"] .logo-link--index {
  -webkit-filter: invert(0);
          filter: invert(0);
}

/* nav */
.nav {
  display: none;
}

@media (min-width: 800px) {
  .nav {
    display: initial;
  }
  .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .nav-item {
    margin: 0 1em;
  }
  .nav-link {
    font-size: 1rem;
    color: rgba(64, 64, 64, 0.7);
  }
  .nav-link:hover, .nav-link:focus {
    color: var(--clr-white);
  }
}

.onscreen--index {
  top: 7em;
}

.section-title {
  color: var(--clr-white);
}

.section-view-box {
  margin-bottom: var(--tiny-gap);
  grid-column: 1 / -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6em 0 4em;
  background-size: cover;
  background-position: left;
}

@media (min-width: 800px) {
  .section-view-box {
    background-attachment: fixed;
    margin-bottom: var(--small-gap);
    padding: 3em 0 2em;
  }
}

/* view-box */
.section-view-box--auckland {
  background-image: url(../Images/Auckland-section-bg.jpg);
  margin: 0;
  background-attachment: initial;
}

@media (min-width: 800px) {
  .section-view-box--auckland {
    padding: 12em 0 8em;
  }
}

.section-title--auckland {
  margin-top: 2em;
}

.section-content--auckland {
  position: relative;
  font-size: 1.6em;
}

@media (min-width: 600px) {
  .section-content--auckland {
    font-size: 1.2em;
  }
}

@media (min-width: 800px) {
  .section-content--auckland {
    font-size: 0.9em;
  }
}

@media (min-width: 1000px) {
  .section-content--auckland {
    font-size: 1em;
  }
}

.subgrid--auckland {
  grid-column: 1 / -1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(1em, 1fr) (minmax(0px, 600px))[2] minmax(1em, 1fr);
      grid-template-columns: minmax(1em, 1fr) repeat(2, minmax(0px, 600px)) minmax(1em, 1fr);
  -ms-grid-rows: 6em (100px)[10] 6em;
      grid-template-rows: 6em repeat(10, 100px) 6em;
  gap: 2em 0;
}

@media (min-width: 800px) {
  .subgrid--auckland {
    -ms-grid-rows: 12em (100px)[5] 12em;
        grid-template-rows: 12em repeat(5, 100px) 12em;
    gap: 0 2em;
  }
}

.content-auckland--1 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 4;
  grid-row: 2 / span 4;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / span 2;
}

.content-auckland--2 {
  -ms-grid-row: 7;
  -ms-grid-row-span: 4;
  grid-row: 7 / span 4;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / span 2;
}

@media (min-width: 800px) {
  .content-auckland--1 {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 4;
    grid-row: 2 / span 4;
  }
  .content-auckland--2 {
    -ms-grid-column: 3;
    grid-column: 3;
    -ms-grid-row: 3;
    -ms-grid-row-span: 4;
    grid-row: 3 / span 4;
  }
}

.img-wrapper-auckland--1 {
  background-image: url(../Images/2018AuckImg/Auckland/img--1.jpg);
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  position: relative;
}

.img-wrapper-auckland--2 {
  background-image: url(../Images/2018AuckImg/Auckland/dinner.jpg);
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  position: relative;
}

.text-wrapper--1 {
  background: var(--clr-white);
  padding: 0 3em;
  -webkit-box-shadow: 0 4px 5px -5px black, inset 0 0 0 10px white, inset 0 0 0 15px;
          box-shadow: 0 4px 5px -5px black, inset 0 0 0 10px white, inset 0 0 0 15px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  position: absolute;
  left: 10%;
  right: 10%;
  bottom: 0;
  min-height: 30%;
  -webkit-transform: translate(0, 50%);
          transform: translate(0, 50%);
}

@media (max-width: 800px) and (min-width: 500px) {
  .text-wrapper--1 {
    left: 25%;
    right: 5%;
  }
}

@media (min-width: 800px) {
  .text-wrapper--1 {
    left: 15%;
    right: 5%;
  }
}

.text-wrapper--2 {
  background: var(--clr-white);
  padding: 0 3em;
  -webkit-box-shadow: 0 4px 5px -5px black, inset 0 0 0 10px white, inset 0 0 0 15px;
          box-shadow: 0 4px 5px -5px black, inset 0 0 0 10px white, inset 0 0 0 15px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  position: absolute;
  left: 5%;
  right: 5%;
  bottom: 0;
  min-height: 30%;
  -webkit-transform: translate(0, 50%);
          transform: translate(0, 50%);
}

@media (max-width: 800px) and (min-width: 500px) {
  .text-wrapper--2 {
    left: 5%;
    right: 40%;
  }
}

@media (min-width: 800px) {
  .text-wrapper--2 {
    background: var(--clr-white);
    padding: 0 3em;
    -webkit-box-shadow: 0 -2px 5px -5px black, inset 0 0 0 10px white, inset 0 0 0 15px;
            box-shadow: 0 -2px 5px -5px black, inset 0 0 0 10px white, inset 0 0 0 15px;
    left: 5%;
    right: 20%;
    top: 0;
    bottom: initial;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }
}

.section-text-auckland {
  font-family: "Text Me One", sans-serif;
}

/* View box */
.section-view-box--taranga {
  background-image: url(../Images/Taranga-section-bg.JPG);
  background-position: top;
}

@media (min-width: 800px) {
  .section-view-box--taranga {
    background-position: center;
  }
}

.taranga-content-wrapper {
  grid-column: 2 / -2;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 1.8;
  font-family: "The Girl Next Door", cursive;
  font-size: 1rem;
  margin-bottom: var(--tiny-gap);
}

@media (min-width: 800px) {
  .taranga-content-wrapper {
    margin-bottom: var(--small-gap);
  }
}

.taranga-content-wrapper p {
  font-size: 0.8em;
  margin: 0;
}

.taranga-content-wrapper span {
  font-family: "Poor Story", cursive;
  font-size: 1em;
  display: block;
}

@media (min-width: 500px) {
  .taranga-content-wrapper {
    font-size: 1.3rem;
  }
}

@media (min-width: 680px) {
  .taranga-content-wrapper {
    font-size: 1.6rem;
  }
}

@media (min-width: 860px) {
  .taranga-content-wrapper {
    font-size: 2rem;
  }
}

@media (min-width: 1150px) {
  .taranga-content-wrapper {
    font-size: 2.3rem;
  }
}

.taranga-content--1 p,
.taranga-content--3 p {
  margin-right: 1em;
}

.taranga-content--2 p {
  margin-left: 1em;
}

@media (min-width: 500px) {
  .taranga-content--1 p,
  .taranga-content--3 p {
    margin-right: 2em;
  }
  .taranga-content--2 p {
    margin-left: 2em;
  }
}

.taranga-content {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.taranga-content img {
  --size: 50vw;
  width: var(--size);
  height: var(--size);
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 860px) {
  .taranga-content img {
    --size: 482.5px;
    width: var(--size);
    height: var(--size);
  }
}

.taranga-content:not(:last-child) {
  margin-bottom: 2em;
}

.taranga-content--2 img {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

@media (min-width: 690px) {
  .taranga-content--2 img {
    width: calc(var(--size) + 10vw);
    height: var(--size);
  }
}

.section-rotorua {
  margin-bottom: var(--mid-gap);
}

@media (min-width: 800px) {
  .section-rotorua {
    margin-bottom: var(--small-gap);
  }
}

/* view box */
.section-view-box--rotorua {
  background-image: url(../Images/Rotoura-section-bg.JPG);
}

.rotorua-content-wrapper {
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: var(--fw--xlight);
}

.rotorua-content-wrapper .br {
  display: initial;
}

.rotorua-content-wrapper .br-sm {
  display: block;
}

@media (min-width: 550px) {
  .rotorua-content-wrapper {
    font-size: 1.2rem;
  }
}

@media (min-width: 650px) {
  .rotorua-content-wrapper .br-sm {
    display: initial;
  }
  .rotorua-content-wrapper .br {
    display: block;
  }
}

@media (min-width: 1000px) {
  .rotorua-content-wrapper {
    font-size: 1.4rem;
  }
}

.rotorua-content-wrapper p {
  font-size: 0.8em;
  text-align: left;
  line-height: 1.6;
}

.rotorua-content-wrapper .fw-regular {
  font-weight: var(--fw-regular);
}

.rotorua-content-wrapper .lg {
  font-size: 1.5em;
}

.rotorua-subtitle {
  font-family: "Rock Salt", cursive;
  font-size: 1.8em;
}

@media (min-width: 800px) {
  .rotorua-subtitle {
    -webkit-transform: rotate(-20deg);
    transform: rotate(-20deg);
  }
}

.rotorua-subtitle--1 {
  margin-top: 0;
}

.rotorua-subtitle--2 {
  margin-top: var(--tiny-gap);
}

@media (min-width: 500px) {
  .rotorua-subtitle--2 {
    margin-top: var(--mid-gap);
  }
}

@media (min-width: 800px) {
  .rotorua-subtitle--2 {
    margin-top: 0;
  }
}

.subgrid-rotorua {
  grid-column: 2 / -2;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(0px, 1fr) minmax(0px, 1fr);
      grid-template-columns: minmax(0px, 1fr) minmax(0px, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
      grid-template-areas: "subtitle subtitle" "gg1 text1" "text2 gg2" "gg3 gg4" "gg5 text3" "subtitle2 subtitle2" "wai1 text4" "text5 wai2" "wai3 wai4" "wai5 text6";
  gap: 1em 1em;
  text-align: center;
}

@media (min-width: 800px) {
  .subgrid-rotorua {
    -ms-grid-columns: (minmax(0px, 1fr))[3];
        grid-template-columns: repeat(3, minmax(0px, 1fr));
        grid-template-areas: "subtitle gg1 text1" "gg2 text2 gg3" "gg4 gg5 text3" "subtitle2 wai1 text4" "wai2 text5 wai3" "wai4 wai5 text6";
  }
}

.rotorua-subtitle--1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: subtitle;
}

.rotorua-subtitle--2 {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: subtitle2;
}

.wai-img--2 {
  height: 258.133px;
  width: 387.2px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.gg-img--1 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: gg1;
}

.gg-img--2 {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: gg2;
}

.gg-img--3 {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: gg3;
}

.gg-img--4 {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: gg4;
}

.gg-img--5 {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: gg5;
}

.wai-img--1 {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  grid-area: wai1;
}

.wai-img--2 {
  -ms-grid-row: 8;
  -ms-grid-column: 2;
  grid-area: wai2;
}

.wai-img--3 {
  -ms-grid-row: 9;
  -ms-grid-column: 1;
  grid-area: wai3;
}

.wai-img--4 {
  -ms-grid-row: 9;
  -ms-grid-column: 2;
  grid-area: wai4;
}

.wai-img--5 {
  -ms-grid-row: 10;
  -ms-grid-column: 1;
  grid-area: wai5;
}

.gg-text--1 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: text1;
}

.gg-text--2 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: text2;
}

.gg-text--3 {
  -ms-grid-row: 5;
  -ms-grid-column: 2;
  grid-area: text3;
}

.wai-text--1 {
  -ms-grid-row: 7;
  -ms-grid-column: 2;
  grid-area: text4;
}

.wai-text--2 {
  -ms-grid-row: 8;
  -ms-grid-column: 1;
  grid-area: text5;
}

.wai-text--3 {
  -ms-grid-row: 10;
  -ms-grid-column: 2;
  grid-area: text6;
}
/*# sourceMappingURL=mix.css.map */