.footer {
  grid-template-areas:
    ". info info ."
    ". logo logo .";

  align-items: baseline;
  justify-items: center;

  --clr-blue-light: #5dbcd2;
  --clr-white-dark: #e8eef2;

  background: #8bafcd;

  font-family: "Poppins", sans-serif;

  font-size: 0.8rem;

  @media (min-width: 600px) {
    font-size: 1rem;
  }

  @media (min-width: 1200px) {
    grid-template-areas: ". logo info .";
    align-items: center;
    justify-items: initial;
    font-size: 1rem;
  }

  padding: 1em 0;
}

// ============== logo box ==============
.footer-logo-box {
  grid-area: logo;

  display: grid;
  place-items: center;
}

.footer-logo {
  --size: 5em;
  width: var(--size);

  filter: invert(1) brightness(1);
}

.footer-text {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 1.5em;
  color: var(--clr-white);
  font-weight: var(--fw-light);
}

.footer-right {
  color: rgba($color: #404040, $alpha: 0.5);
  font-size: 0.75em;
}

// ============== info box ==============
.footer-info-box {
  grid-area: info;
  //   border: 2px solid magenta;

  text-align: right;
}

.footer-email {
  font-size: 1.2em;
  margin-top: 0;

  a {
    color: var(--clr-white-dark);
  }
}

.footer-list {
  justify-content: flex-end;
}

.footer-item {
  margin: 1em;

  display: flex;

  position: relative;
  z-index: 1;
  .iconfont {
    color: var(--clr-white-dark);

    display: block;
    font-size: 2em;
  }
}

.footer-link {
  z-index: 5;

  &:hover .iconfont,
  &:focus .iconfont {
    transform: scale(1.2);
  }
}
