@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;700&family=Montserrat:wght@200;300&family=Quicksand:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;700&family=Montserrat:wght@200;300&family=Quicksand:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;700&family=Montserrat:wght@200;300&family=Quicksand:wght@300;400;500&display=swap");
:root {
  font-size: 10px; }

*,
*::after,
*::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0; }

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none; }

nav {
  color: black;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.2); }
  nav .brand-logo {
    color: grey; }
    nav .brand-logo img {
      width: 5rem;
      filter: grayscale(100%); }
  nav .nav-items a {
    color: grey;
    font-size: 2rem; }
    nav .nav-items a:hover {
      background-color: transparent;
      transform: scale(1.05); }

.mySide li a:hover {
  background-color: pink;
  color: #ffffff; }

header {
  background: url(../Image/header-content-img--1.jpg);
  height: 40vh;
  background-size: cover;
  display: grid;
  place-items: center;
  margin-bottom: 20vh; }
  header .header__title {
    color: #ffffff;
    letter-spacing: 0rem; }

.food-grid-wrapper {
  display: none; }

.carousel-food {
  grid-column: 1 / -1;
  margin-top: 0rem;
  height: 200px; }
  .carousel-food .carousel {
    height: inherit; }

@media only screen and (min-width: 800px) {
  .carousel-food {
    display: none; }
  .food-grid-wrapper {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1rf);
    grid-template-areas: "div1 div2 div3 div4" "div5 div6 div7 div8";
    background: black; }
    .food-grid-wrapper .food-grid__img {
      background-size: cover;
      background-position: center;
      overflow: hidden;
      object-fit: cover;
      object-position: center; }
      .food-grid-wrapper .food-grid__img:focus-within > img {
        opacity: 1;
        transform: scale(1); }
      .food-grid-wrapper .food-grid__img img {
        width: 100%;
        opacity: 0.6;
        transform: scale(1.14);
        transition: transform 0.5s ease-in-out; }
        .food-grid-wrapper .food-grid__img img:hover {
          opacity: 1;
          transform: scale(1.08);
          cursor: pointer; }
    .food-grid-wrapper .grid--1 {
      grid-area: div1; }
    .food-grid-wrapper .grid--2 {
      grid-area: div2; }
    .food-grid-wrapper .grid--3 {
      grid-area: div3; }
    .food-grid-wrapper .grid--4 {
      grid-area: div4; }
    .food-grid-wrapper .grid--5 {
      grid-area: div5; }
    .food-grid-wrapper .grid--6 {
      grid-area: div6; }
    .food-grid-wrapper .grid--7 {
      grid-area: div7; }
    .food-grid-wrapper .grid--8 {
      grid-area: div8; } }

.preloader-page {
  position: fixed;
  height: 100vh;
  width: 100%;
  background: #fff;
  z-index: 200;
  opacity: 1;
  display: flex;
  justify-content: center;
  transition: opacity 0.5s ease; }
  .preloader-page .preloader-wrapper {
    position: absolute;
    top: 40%; }
  .preloader-page h2 {
    position: absolute;
    top: 50%; }
    @media only screen and (max-width: 800px) {
      .preloader-page h2 {
        font-size: 2rem;
        font-weight: 300; } }

.preloader-page--finish {
  opacity: 0;
  pointer-events: none; }

.icon-blue {
  position: fixed;
  right: 1.5rem;
  top: 5rem;
  cursor: pointer;
  z-index: 1;
  font-size: 2.5rem !important;
  color: #00a8cc; }

.menu {
  z-index: 0;
  position: fixed;
  background: #00a8cc;
  top: -999rem;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  z-index: 100;
  transition: opacity 0.4s ease-out;
  opacity: 1; }
  .menu .search-bar {
    --size: 3rem;
    height: var(--size);
    width: var(--size);
    padding: 3px;
    position: absolute;
    top: 5rem;
    right: 2rem;
    border: 2px solid #fff;
    display: flex;
    border-radius: 100vh;
    transition: width 300ms ease-in-out;
    overflow: hidden; }
    .menu .search-bar:focus-within {
      width: 20rem; }
      .menu .search-bar:focus-within .search-bar__input {
        opacity: 1;
        cursor: initial; }
      .menu .search-bar:focus-within .search-bar__submit {
        color: #fff; }
    .menu .search-bar .search-bar__input {
      font-size: 1.5rem;
      position: absolute;
      top: 0;
      bottom: 0;
      padding: 0 2em;
      border: none;
      line-height: calc(var(--size) - 0.7rem);
      background: transparent;
      opacity: 0;
      color: #fff;
      cursor: pointer; }
      .menu .search-bar .search-bar__input:focus {
        outline: none; }
      .menu .search-bar .search-bar__input::placeholder {
        color: #fff; }
    .menu .search-bar .search-bar__submit {
      outline: none;
      font-size: 1.5rem;
      cursor: pointer;
      border: none;
      background: transparent;
      border-radius: 100vh;
      width: calc(var(--size) - 10px);
      height: calc(var(--size) - 10px);
      margin-right: auto;
      transition: background 150ms ease-in-out;
      color: #fff; }
  .menu .data {
    position: relative;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .menu .data ul {
      list-style: none;
      font-size: 3.5rem; }
      .menu .data ul li {
        text-align: center; }
        .menu .data ul li a {
          display: inline-block;
          height: 100%;
          width: 100%;
          padding: 2.5rem 0;
          text-decoration: none;
          color: #fff;
          position: relative; }
          .menu .data ul li a:hover, .menu .data ul li a:focus {
            background-color: #fff;
            background-color: #fff;
            color: #00a8cc; }
  .menu .icon-white {
    position: absolute;
    bottom: 25%;
    left: 50%;
    cursor: pointer;
    transform: translateX(-50%);
    font-size: 3rem;
    color: #fff; }

@media only screen and (min-width: 800px) {
  .icon-blue {
    display: none; } }

#taranga-section .vertical-image {
  margin: 6rem 0;
  transform: rotate(270deg); }
