html {
  --clr-white: #fdfeff;
  --clr-black: #111;
  --clr-gray: #404040;

  --clr-blue: #008dfd;
  --clr-blue-light: #5dbcd2;

  --clr-pink-light: #f0bad3;
  --clr-pink-dark: #d22e79;

  --fw--xlight: 200;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-bold: 700;

  --fs-h2: 3.5rem;
  --fs-big: 2.5rem;
  --fs-normal: 1.2rem;

  --small-gap: 8rem;
  --tiny-gap: 3rem;
  --mid-gap: 4rem;

  --clr-background: #e8eef2;
}
